.card {
  width: 540px;
}

.card__title {
  margin: 0px 0px 32px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.card__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  gap: 16px;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.card__list-item {
  display: flex;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}
