.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  box-sizing: border-box;
  padding: 60px 80px;
}

.footer__content {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social_heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0px 0px 0px;
  padding-left: 40px;
}

.footer__list {
  margin: 0px;
}

.footer__list-item {
  list-style: none;
  margin: 20px 0px 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  padding-right: 10px;
}

.footer__social_link {
  color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__social_link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  color: #ffffff;
  margin-top: 108px;
  margin-bottom: 0px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
