.header {
  padding: 30px 80px 40px;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  box-sizing: border-box;
}

.header__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  max-width: 729px;
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  color: #000000;
  z-index: 1;
}

.header__description {
  max-width: 683px;
  left: 80px;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  color: #000000;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  max-width: 646px;
  z-index: -1;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  color: #838383;
  align-items: end;
}

.header__paragraph {
  margin: 0;
}
